# Auto detect text files and perform LF normalization
* text=auto
*.unity filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
Assets/ART/SCENES/C10_UNDERWATER_A/10_Dino_DeepOcean_EDIT_/LightingData.asset filter=lfs diff=lfs merge=lfs -text
Assets/ART/SCENES/C10_UNDERWATER_A/10_Dino_DeepOcean_EDIT_v00/LightingData.asset filter=lfs diff=lfs merge=lfs -text
Assets/00_PROJECT/03_SOUNDS/01_TENDA/Grasslands.wav filter=lfs diff=lfs merge=lfs -text
